# Sample gitconfig
[user]
        name = x
        email = x@x.com
[github]
        user = x
        token = x

# End of personal stuff - cutnpaste from here
[alias]
        co = checkout
        ci = commit
        stat = status
        spull = svn rebase
        spush = svn dcommit
        unstage = reset HEAD
        sfetch = svn fetch
        resetfile = checkout --
        hardreset = reset --hard
        lol = log --pretty=oneline --abbrev-commit --graph --decorate
        lolb = log --pretty=oneline --abbrev-commit --decorate --first-parent
        logpretty = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset'
        loll = log --graph --pretty=format:'%Cred%h%Creset %C(yellow)%d%Creset %s %Cgreen%cn (%e) (%cr)%Creset' --all
        lollb = log --pretty=format:'%Cred%h%Creset %C(yellow)%d%Creset %s %Cgreen%cn (%e) (%cr)%Creset' --first-parent
        alias = config --get-regexp 'alias.*'
        # this is aliased to git reset --soft HEAD^ by git-sh, but by overriding it here I dont get so confused when I forget "stash" in "stash pop"
        pop = stash pop
        count   = shortlog -sn
        promote = !$ZSH/bin/git-promote
        wtf     = !$ZSH/bin/git-wtf
        rank-contributers = !$ZSH/bin/git-rank-contributers
        wdiff = diff --color-words
        pullff = pull --ff-only
[color]
        diff = auto
        status = auto
        branch = auto
        ui = true
        
[color "branch"]
       current = yellow reverse
       local = yellow
       remote = green

[color "diff"]
       meta = yellow bold
       frag = magenta bold
       old = red bold
       new = green bold

[color "status"]
       added = yellow
       changed = green
       untracked = cyan
       
[core]
        excludesfile = ~/.gitignore
        editor = vim
        autocrlf = input
[apply]
        whitespace = nowarn
[merge]
        tool = kdiff3
[mergetool]
        keepBackup = false
[diff]
        tool = meld
[difftool]
        prompt = false
[help]
        autocorrect = 1
[push]
	default = simple

