/git/gitconfig.symlink
/zsh/favfolder.zsh

/vim/vim.symlink/.netrwhist
/vim/vim.symlink/bundle/*/.git/**
/vim/nvim.config-symlink/plugged

sublime2/User/Package\ Control.sublime-settings

atom.symlink/compile-cache/
atom.symlink/packages/
atom.symlink/storage/
atom.symlink/.apm/
atom.symlink/blob-store/

# Visual Studio Code: ignore everything except user settings
/Code.config-symlink/*
!/Code.config-symlink/User
/Code.config-symlink/User/*
!/Code.config-symlink/User/settings.json

