"*":
  core:
    telemetryConsent: "limited"
    themes: [
      "atom-dark-ui"
      "atom-dark-syntax"
    ]
  editor:
    invisibles: {}
  "exception-reporting":
    userId: "a9fcff20-8e83-547a-cfa1-546bc119e5f7"
  welcome:
    showOnStartup: false
